	.navBar{
  width: 100%;
  background-color: #00A2E8;  /*#1D485A*/
  text-align: left;
  margin: auto;
  font-size: 80px;
  color: white;
  line-height: 100px;
  margin-bottom: 5px;
}

.navBar a {text-decoration: none; }

.navButton{
  float:right;
  vertical-align: middle;
  font-size: 50px;
  padding-right: 20px;
  padding-left: 20px;
}


.arrow{
  margin:auto;
  display: inline-block;
  vertical-align: middle;
}


.col-xs-3{
  width:200px;
}

.btn-info{
  background-color: #00A2E8;
  border: 0px;
}
.btn-info:active{
  border:0px solid black !important;
}

#shoppingcart{
  position: absolute;
  right:50px;
  top: 50px;
  height: 107px;
}

#shoppingcartmusic{
  position: absolute;
  right:50px;
  top: 50px;
  height: 107px;
}
#TopSongsButton{
  position: absolute;
  right:170px;
  top: 50px;
  height: 107px;
}

#Qiconleft{
  position: absolute;
  right:50px;
  top: 50px;
  height: 107px;
}

#filterbtn{
  position: absolute;
  right:150px;
  top: 50px;
  height: 107px;
  font-size: 40px;
  border:1px solid rgb(0, 162, 232);
}

#favbtn{
  position: absolute;
  left:1149px;
  top: 50px;
   height: 107px;

}

#favbtnmusic{
  position: absolute;
  left:1149px;
  top: 50px;
   height: 107px;

}

#recbtn{
  position: absolute;
  left:1020px;
  top: 50px;
   height: 107px;
  border:1px solid rgb(0, 162, 232);
}
#Tabs{
  width: 210px;
  height: 675px;
  background-color: white;
  float: left;

}
.Tab{
  margin-top: 5px;
  width: 200px;
  height: 160px;
  background-color: white;
  border: 2px solid black;
  margin:0px;
  font-size: 40px;
}
.Tab img{
  width:100px;
  height:100px;
  display:block;
  margin:auto ;
}
#Bubida{
  width: 100%;
  height:100%;
  background-color: white;
  float:right;

}

#Refeicoes{
  width: 1390px;
  height:675px;
  background-color: white;
  float:right;
  display: none;
}

#Snacks{
  width: 1390px;
  height:675px;
  background-color: white;
  float:right;
  display: none;
}

#Menus{
  width: 1390px;
  height:675px;
  background-color: white;
  float:right;
  display: none;
}

.Listagem{
  text-align: left;
  margin-left: 200px;
  padding: 5px;
  width:86%;
  height: 670px;
  border-collapse: separate !important;
  border-spacing: 70px 20px !important;
  text-align: center;
  font-size: 30px;
  table-layout: fixed;
  position: relative;
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  text-align: left;
  overflow-y:auto;
  overflow-x:visible;


}
.Listagem li{
  text-align: center;
  width:250px;
  height: 194px;
  border: 1px solid lightgray;
  border-radius: 10px;
  opacity: 1 !important;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 1.5%;
  font-size: 23px;



}

/*
.Listagem li:active{
  background-color:#00A2E8;
  color: #ffffff
}
*/

.Listagem img{

   width:100px;
   height:100px;
   display:block;
   margin:auto;
   margin-top: 10%
}

.Listagem img.Favorite{
  height:40px;
  width:40px;
  float:left;
  margin-top:10px;
  margin-left:10px;
  position:absolute;

}

.Listagem img.Recommended{
  height:40px;
  width:40px;
  float:right;
  margin-top:60px;
  margin-left:10px;
  position:absolute;
  display: none;

}
#Ticket{
  display: none;
  float:right;
  width: 400px;
  height: 670px;
  font-size: 36px;
  background-color: white;
  z-index: 10;
  position: absolute;
  top: 157px;
  right: 22px;
  border-radius: 10px;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
	opacity:0.9;
}
#Ticket > a{
}
#Q{
  display: none;
  float:right;
  width: 400px;
  height: 670px;
  font-size: 36px;
  background-color: white;
  z-index: 2000;
  position: absolute;
  top: 157px;
  right: 22px;
  border-radius: 10px;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}
#Filtro{
  display: none;
  float:right;
  width: 400px;
  height: 670px;
  font-size: 14px;
  background-color: white;
  z-index: 10;
  position: absolute;
  top: 157px;
  right: 22px;
  border-radius: 10px;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

form label{
  color: gray;
  font-size: 24px;
  width: 250px;
  border:0px solid black;
  text-align: left;
}

#filterSubmit{
  float:right;
  margin:20px;
  padding: 10px;
  height:50px;
  width:auto;
  font-size: 30px;
}

#filterform{
  padding-left: 15px;
}

.checkbox{

  width: 350px;
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 3px solid black;


}

.largerCheckbox{
  position: absolute;
  top: 15px;
  right: 300px;
  width: 25px;
  height:25px;
}
#TicketProducts{
  display:fixed;
  height:550px;
  overflow-y:auto;
  overflow-x:visible;
}
.TicketIcon{
  width: 100%;
  height: 90px;
  background-color:  #4db8ff;
  border: 2px solid black;
  display:none;
  border-radius: 10px;
  font-size: 22px;
}

.QueueIcon{
  width: 100%;
  height: 37px;
  background-color:  #ffffff;
  border-right: 0px;
  border-left:0px;
  display:none;
  font-size: 22px;
}

.FavoriteIcon{
  width: 100%;
  height: 90px;
  background-color:  #4db8ff;
  border: 2px solid black;
  display:none;
  border-radius: 10px;
  font-size: 30px;
}


.input-group{
  top: 10px;
  width: 130px;
  display: inline-table;
  float: right;
  margin-right: 15px;
}

#BotaoCheckout{
  position:absolute;
  background-color: #7BC941;
  display: block;
  margin: 25px;
  width: 343px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0C540E;
  font-weight: 900;
  font-family: helvetica, arial, sans-serif;
  font-size: 30px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(48, 119, 52, 0), 0 0 0 8px rgb(45, 177, 60), 0 0 0 11px #19711A, 0 0 0 13px #333, 0px 2px 2px 16px #eee;
  position: absolute;
  bottom: 0px;
  pointer-events: none;
  opacity: 0.3;

}

#applyfilter{
  display: none;
     margin-left: 210px;
     margin-top: 20px;
    border: 1px;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
}
#addMusic{
  margin-left:130px;
    margin-top: 20px;
    border: 1px;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
}
.button {
  display: inline-block;
  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}

.bigrounded {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.medium {
  font-size: 12px;
  padding: .4em 1.5em .42em;
}
.small {
  font-size: 11px;
  padding: .2em 1em .275em;
}


.blue {
  color: #d9eef7 !important;
  border: solid 1px #0076a3;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
  color: #80bed6;
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
  background: -moz-linear-gradient(top,  #0078a5,  #00adee);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
::-webkit-scrollbar {width: 6px; height: 4px; background: #ffffff; }
::-webkit-scrollbar-thumb { background-color: #000000; -webkit-border-radius: 1ex; }

.TicketPrice{
  text-align: right;
  margin-top: 20px;
}

.Euro{
  text-align: right;
  display: inline-block;
  margin-right: 20px;
}


.listFilter{
  display: none;
}

.listFilter>li>label{
  display: inline-block;
}

#DrinkFilter{
  display: inline-block;
}

.LiPrice{
  position:absolute;
  margin-left: 80px;
  z-index: 1
}

.redcross{
  width:30px;
  height:30px;
  margin-right: 10px;
}

.EcraConfirmacao{
  height: 400px !important;

}

#searchInput{
  width: 300px;
  height:56px;
  margin-top:21.8px;
}

.dropdown-menu>li{
  display:block;

}

.cover>img{
  width:350px;
  height:350px;
}
.cover>label{
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:20px;
}

#photos-info{
  margin-top: 10px;
  font-size: 24px;
  font-weight: 900;
}
#Q{
  overflow-y:scroll;
  overflow-x:show;


}



hr{
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,0));
  margin-bottom: 0px;
}


#ProfilePictureFig{
  text-align: center;
  width:400px;
  height:400px;
  border-radius: 100%;
  float:left;
  margin-left: 150px;
  margin-top: 75px;
  background-color: #4d0099;
  font-size: 40px;
  color: black;
  font-weight: 900;
  display:inline-block;
}

#ProfilePicture{
  width:380px;
  height:380px;
  vertical-align: middle;
  display:inline-block;
   vertical-align: middle;
   border-radius: 100%;
   margin:auto;
   margin-top: 10px;
}

#PerfilTable{
  float:right;
  height: 600px;
  width: 650px;
  margin-right: 50px;

}

#PerfilTable>tr>td>a{

}

.PerfilCircle{
  float:right;
  height:250px;
  width: 250px;
  margin-top: 25px;
  margin-right:25px;
  background-color: black;
  border-radius: 100%;
  font-size:40px;
}

.PerfilCircle>img{
  margin-left: 5px;
  width:100%;
  height:100%;
}

#alcoolemiaCaption{
  margin-top: -150px;

}

.EcraPerfil{
  width: 1000px;
  height: 700px;
  position: absolute;
  left: 300px;
  top: 100px;
  background-color: white;
  border: 5px solid black;
  z-index: 20;
  display:none;
  font-size:40px;
  border-radius:10px;

}

.EcraPerfilTitle{
  padding-right: 45px;
}

.EcraPerfilBack{
  width: 100%;
  height: 80px;
  border: 1px solid lightgray;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  font-size: 40px;
  border-radius:10px;
  background-color: #00A2E8;


}





#alcoolWrapper,
#wrapper, #wrapper1 {
        width:450px;
        margin:0 auto;
        font-family:Verdana, sans-serif;
            top: 70px;
    position: relative;
    display: inline-block;
    }
    legend {
        color:#0481b1;
        font-size:16px;
        padding:0 10px;
        background:#fff;
        -moz-border-radius:4px;
        box-shadow: 0 1px 5px rgba(4, 129, 177, 0.5);
        padding:5px 10px;
        text-transform:uppercase;
        font-family:Helvetica, sans-serif;
        font-weight:bold;
    }
    fieldset {
        border-radius:4px;
        text-align: left;
        font-size: 20px;
        padding:20px;
        border-color:rgba(4, 129, 177, 0.4);
    }
    input,
    textarea {
        color: #373737;
        background: #fff;
        border: 1px solid #CCCCCC;
        color: #aaa;
        font-size: 20px;
        line-height: 1.2em;
        margin-bottom:15px;

        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    }
    input[type="text"],
    input[type="password"],
    input[type="number"]{
        width: 100%;
        padding: 8px 6px;

    }
    input[type="text"]:focus,
    input[type="password"]:focus {
        background:#f5fcfe;
        text-indent: 0;
        z-index: 1;
        color: #373737;
        -webkit-transition-duration: 400ms;
        -webkit-transition-property: width, background;
        -webkit-transition-timing-function: ease;
        -moz-transition-duration: 400ms;
        -moz-transition-property: width, background;
        -moz-transition-timing-function: ease;
        -o-transition-duration: 400ms;
        -o-transition-property: width, background;
        -o-transition-timing-function: ease;


        border-color:#ccc;
        box-shadow:0 0 5px rgba(4, 129, 177, 0.5);
        opacity:0.6;
    }
    input[name="submit"]{
        width: 150px;
        text-align: center;
        background: #222;
        border: none;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
        text-transform:uppercase;
        color: #eee;
        cursor: pointer;
        margin: 5px 0;
        padding: 5px 22px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-border-radius:4px;
        -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    }
    textarea {
        padding:3px;
        width:96%;
        height:100px;
    }
    textarea:focus {
        background:#ebf8fd;
        text-indent: 0;
        z-index: 1;
        color: #373737;
        opacity:0.6;
        box-shadow:0 0 5px rgba(4, 129, 177, 0.5);
        border-color:#ccc;
    }
    .small {
        line-height:14px;
        font-size:12px;
        color:#999898;
        margin-bottom:3px;
    }




#BloquearChaves{
  position: relative;
  margin-left: 150px;
  margin-top: 100px;
  width:300px;
  height:75px;
  background-color: #FF2525;
  font-size:30px;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  border-radius:10px;
  color: white;
}

#DesbloquearChaves{
  position: relative;
  margin-left: 550px;
  margin-top: -75px;
  width:300px;
  height:75px;
  background-color: lightgreen;
  font-size:30px;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  border-radius:10px;
  opacity: 0.3;
}

.JanelaChaves{
  margin-left:-254px;
  width:90%;
}

#TransportesTable{
  margin-left: 200px;
  margin-top: 20px;

}

#Carro{
  background-color: #00e600;
  width:250px;
  height:250px;
}

#Autocarro{
  background-color: #00e600;
  width:250px;
  height:250px;
  margin-left:100px;
}

#Taxi{
  background-color:#00e600;
  width:250px;
  height:250px;
  margin-top:75px;
}

#Helicoptero{
  background-color:#00e600;
  width:250px;
  height:250px;
  margin-top: 75px;
}

.Perfilcircle img{
  width:90%;
  height:90%;
}

.TransportesButton{
  font-size: 26px;
  display: block;
  margin-top:55px;
  margin-left:-25px;
  width:300px;
}

#HorarioAutocarro{
  margin-top:-150px;
  margin-left: -350px;
  height:110% !important;
  width:110%;
  background-color: white;
  border: solid 3px black;

  display:none;
  z-index: 20000;
}
#UpVoteImage{
  width:120px;
  height:120px;
  border-radius: 50%;
}

#DownVoteImage{
  width:120px;
  height:120px;
  border-radius: 50%;
}

#TopSongsButton{
  display:relative;
  float:right;
}
#TopSongsMenu{
  border:white 2px solid;
  display:none;
  position:absolute;
  height:700px;
  width:1200px;
  background-color: black;
  left:50%;
  top:55%;
  transform: translate(-50%, -50%);
  z-index:1000;
}
#TopSongsTitle{
  color:white;
  font-size:55px;
  background-color: #298C2C;
  height:80px;
  text-align:middle;

}
#TopSongsShow{
  overflow-y:scroll;
  height:610px;
  width:1200px;

}
#firstSong{
  height:100px;
  color:white;
  font-size:40px;
  border: 4px gold solid;
  margin-top:2px;
  margin-bottom:2px;
  vertical-align: middle;
}
#secondSong{
  color:white;
  font-size:30px;
  border: 4px silver solid;
  margin-top:2px;
  margin-bottom:2px;
}
#thirdSong{
  color:white;
  font-size:25px;
  border: 4px saddlebrown solid;
  margin-top:2px;
  margin-bottom:2px;
}

.topSong{
  text-align:center;
  width:1170px;
  padding-left:5px;
  margin-left:10px;
  text-align:left;
  color:white;
  font-size:20px;
  border: 4px white solid;
  margin-top:2px;
  margin-bottom:2px;
  text-align:center;
}
#AddButtonQueue1st{
  height:40px;
  width:40px;
  border-radius: 50%;
  margin-top:-30px;
}
#AddButtonQueue2nd{
  height:40px;
  width:40px;
  border-radius: 50%;
  margin-top:-10px;
}
#AddButtonQueue3rd{
  height:40px;
  width:40px;
  border-radius: 50%;
  margin-top:-5px;
}
.AddButtonQueue{
  height:40px;
  width:40px;
  border-radius: 50%;
  margin-top:-5px;
  margin-bottom:5px;

}
.favoriteMusicIcon{
  position:relative;
  display:inline-block;
  width:75px !important;
  height:75px !important;
  margin-left:50px;
  top:-5px;
}


#TopSongsTitle>span{
  margin-left:250px;
}
#butaoRandomAlcool{
  border-radius: 50%;
  color:white;
  background-color:black;
  position:absolute;
  width: 100px;
  height:100px;
  left:1600px;
}
 #randomAlcoolSpan{
    font-size: 20px;
    bottom: 22px;
    position: absolute;
    left: 13px;
 }






#ListagemFavoritosFood{
	margin-top:75px;
	margin-left: 0px;
	float:left;
	height: 80%;
	width: 40%;
	background-color: transparent;
	border: 3px solid black;
  overflow-y: scroll;
    padding: 0px;
  }

#ListagemFavoritosMusica{
	margin-right: 80px;
	margin-top:75px;
	display: inline-block;
	float:right;
	height: 80%;
	width: 40%;
	background-color: transparent;
	border: 3px solid black;
  overflow-y: scroll;
  padding: 0px;

}

#HistoricoFood{
  margin-top:75px;
  margin-left: 0px;
  float:left;
  height: 80%;
  width: 40%;
  background-color: transparent;
  border: 3px solid black;
  overflow-y: scroll;
    padding: 0px;
}

#HistoricoMusica{
  margin-right: 80px;
  margin-top:75px;
  display: inline-block;
  float:right;
  height: 80%;
  width: 40%;
  background-color: transparent;
  border: 3px solid black;
  overflow-y: scroll;
    padding: 0px;
}

.ListLabels{
	position:absolute;
	width:35%;
	height:5%;
	font-size: 30px;
	margin-top: 20px;
}

.HelpPerfilWindow{
  position:absolute;
  height:80px;
  width:80px;
  left:910px;
  top:610px;
}

.HelpIMG{
  position:absolute;
  left:0px;
  top:0px;
  display:none;
  z-index:30000;
}

.HelpIMGG{
  position:absolute;
  left:50px;
  top:600px;
  display:none;
  z-index:30000;
}


.RecommendedDIV{
	width:165px;
	height:30px;
	background-color: #3366ff;
	border-radius:5px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin-top:-10px;
	margin-left: 40px;
	display:none;
}
