
.ecra{
  height: 915px;
  width: 1600px;
  border: 10px solid #000000;
  margin: auto;
  text-align: center;
  position:relative;
  background-image:url("../GlobalImages/Main_Background.jpg");
  background-size: 100% 100%;
  z-index: 0;


}

#Pedir{
  background-image:url("../GlobalImages/Background.jpg");
  display:none;
}

#Music{
   background-image:url("../GlobalImages/Music_Background.jpg");
   margin-top:100px;
}
#Perfil{
   background-image:url("../GlobalImages/Perfil_Background2.jpg");
  display:none;
}

#cabecalho{
	height: 5.555%;
	width: 100%;
	text-align: left;
	font-size:40px;
	color: white;
	position:relative;
  background-color:black;
  opacity: 0.8;


}
.coverflow{
  margin-top:50px;
}
#cabecalhoPrincipal{
  height: 5.555%;
  width: 100%;
  text-align: left;
  font-size:40px;
  color: white;
  position:relative;
  background-color:black;
  opacity: 0.8;


}
#cabecalhoMusica{
  height: 5.555%;
  width: 100%;
  text-align: left;
  font-size:40px;
  color: white;
  position:relative;
  background-color:black;
  opacity: 0.8;


}
#cabecalhoPerfil{
  height: 5.555%;
  width: 100%;
  text-align: left;
  font-size:40px;
  color: white;
  position:relative;
  background-color:black;
  opacity: 0.8;


}


.Name{
  position: relative;
  left: 20px;
  float: left;
  width:33.33333%;
  text-align:left;

}
.Time{
	float: left;
  width:33.33333%;
  text-align:center;
}
#Cenas{
  position: relative;
  right: 20px;
  float: right;
  width:6%;
	text-align: right;
  margin-bottom: 9px;
  height: 100%;
  padding-right: 15px;
}

#Logout{
  position: relative;
  right: 20px;
  float: right;
  width:8%;
  text-align: right;
  margin-bottom: 9px;
  height: 100%;
  padding-right: 15px;
}

#Login{
  position: relative;
  right: 20px;
  float: right;
  width:6%;
  text-align: right;
  margin-bottom: 9px;
  height: 100%;
  padding-right: 15px;
  display:none;
}

#rodape{
  height: 65px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left:0;
  margin-left:20px;


}
#searchResetButton{
  height:50px;
  width:50px;
  position:relative;
  letter-spacing: 200px;
  right:-50px;
  top:-10px;
  pointer-events:none;
  opacity:0.0;
}
#rodapeMusic{
  height: 65px;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-left:20px;


}

#rodapePerfil{
  height: 65px;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-left:20px;


}

.RodapeIcon{
  height:60px;
  width:60px;
  border-radius: 100%;
  border: 3px solid #000000;
  display: inline-block;
  margin-right: 50px;
  position: relative;


}

.RodapeIcon img {
  margin: auto;
  display: block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 100%;


}

.backarrow{
  width: 80px;
  height: 80px;
  margin: auto;
  float: left;
}

.dropdown-menu>li{
  font-size: 30px;
}


#Upvote_DownVote{
  position:absolute;
  width:250px;
  height:100px;
}

#ValueOfVote{
  font-size: 80px;
  color:green;
  margin-right: 40px;
  margin-left: 40px;
  vertical-align: -20px;
}